// base.csv
$white: #ffffff;
$background-color: #ffffff;
$body-background-color: #ffffff;
$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$danger: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$warning: #ffc107;
$green: #28a745;
$success: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$info: #17a2b8;
$gray-border: #444444;
$dark-theme-border: #444444;
$dark-theme-bg: #222222;
$black: #000000;
