// base.csv
$black: #000000;
$gray: #6b6a6b;
$white: #ffffff;
$yellow: #f6eb0e;
$orange: #ff8000;
$red: #c31729;
$green: #476e1e;
$blue: #0d519f;
$purple: #946eac;
$mint: #b4d682;
$yes: #b4d682;
$marigold: #fdc218;
$no: #fdc218;
