// brewer-red.csv
$brewer-red-100: #fff5f0;
$brewer-red-200: #fee0d2;
$brewer-red-300: #fcbba1;
$brewer-red-400: #fc9272;
$brewer-red-500: #fb6a4a;
$brewer-red-600: #ef3b2c;
$brewer-red-700: #cb181d;
$brewer-red-800: #a50f15;
$brewer-red-900: #67000d;
