// brewer-green.csv
$brewer-green-100: #f7fcf5;
$brewer-green-200: #e5f5e0;
$brewer-green-300: #c7e9c0;
$brewer-green-400: #a1d99b;
$brewer-green-500: #74c476;
$brewer-green-600: #41ab5d;
$brewer-green-700: #238b45;
$brewer-green-800: #006d2c;
$brewer-green-900: #00441b;
