// brewer-red.csv
$brew-red-100: #fff5f0;
$brew-red-200: #fee0d2;
$brew-red-300: #fcbba1;
$brew-red-400: #fc9272;
$brew-red-500: #fb6a4a;
$brew-red-600: #ef3b2c;
$brew-red-700: #cb181d;
$brew-red-800: #a50f15;
$brew-red-900: #67000d;
