// brewer-blue.csv
$brew-blue-100: #f7fbff;
$brew-blue-200: #deebf7;
$brew-blue-300: #c6dbef;
$brew-blue-400: #9ecae1;
$brew-blue-500: #6baed6;
$brew-blue-600: #4292c6;
$brew-blue-700: #2171b5;
$brew-blue-800: #08519c;
$brew-blue-900: #08306b;
