// gray.csv
$gray-100: #f7f7f7;
$gray-lightest: #f7f7f7;
$light: #f7f7f7;
$gray-200: #f4f1ee;
$gray-300: #e9e7e5;
$gray-400: #dbdbdb;
$gray-lighter: #dbdbdb;
$gray-500: #aaaaaa;
$gray-light: #aaaaaa;
$gray-600: #6b6a6b;
$gray: #6b6a6b;
$secondary: #6b6a6b;
$gray-700: #383f3a;
$gray-800: #333333;
$gray-dark: #333333;
$dark: #333333;
$gray-900: #222824;
