// pols-us-primary.csv
$pols-us-primary-dem-0: #3571C0;
$pols-us-primary-dem-1: #D9C3A5;
$pols-us-primary-dem-2: #8998AB;
$pols-us-primary-dem-3: #9AD3FC;
$pols-us-primary-dem-4: #C3F4CD;
$pols-us-primary-dem-5: #5DAED4;
$pols-us-primary-dem-6: #8ABDC0;
$pols-us-primary-dem-7: #775180;
$pols-us-primary-dem-8: #FFD682;
$pols-us-primary-dem-9: #948064;
$pols-us-primary-gop-0: #FE5C40;
$pols-us-primary-gop-1: #B8948E;
$pols-us-primary-gop-2: #FBA723;
$pols-us-primary-gop-3: #FFB2CB;
$pols-us-primary-gop-4: #B41E61;
$pols-us-primary-gop-5: #433E76;
$pols-us-primary-gop-6: #AC5141;
$pols-us-primary-gop-7: #7957B4;
$pols-us-primary-gop-8: #FEE0C2;
$pols-us-primary-gop-9: #FD87F7;
