// pols-us.csv
$pols-us-democrat: #003576;
$pols-us-democrat-0: #003576;
$pols-us-democrat-light: #006bb4;
$pols-us-democrat-1: #006bb4;
$pols-us-democrat-lighter: #3ca6e4;
$pols-us-democrat-2: #3ca6e4;
$pols-us-democrat-lightest: #97d8fd;
$pols-us-democrat-3: #97d8fd;
$pols-us-republican-lightest: #fdab9e;
$pols-us-republican-3: #fdab9e;
$pols-us-republican-lighter: #ee665b;
$pols-us-republican-2: #ee665b;
$pols-us-republican-light: #c42a28;
$pols-us-republican-1: #c42a28;
$pols-us-republican: #7c0000;
$pols-us-republican-0: #7c0000;
