// purpleGreen.csv
$purple-green-1: #762a83;
$purple-green-2: #9970ab;
$purple-green-3: #c2a5cf;
$purple-green-4: #e7d4e8;
$purple-green-5: #d9f0d3;
$purple-green-6: #a6dba0;
$purple-green-7: #5aae61;
$purple-green-8: #1b7837;
