// redYellowGreen.csv
$red-yellow-green-1: #d73027;
$red-yellow-green-2: #f46d43;
$red-yellow-green-3: #fdae61;
$red-yellow-green-4: #fee08b;
$red-yellow-green-5: #ffffbf;
$red-yellow-green-6: #d9ef8b;
$red-yellow-green-7: #a6d96a;
$red-yellow-green-8: #66bd63;
$red-yellow-green-9: #1a9850;
