@import "~@reuters-graphics/style-color/scss/main";
@import "~@reuters-graphics/style-main/scss/variables/fonts";
@import "~Theme/variables";
@import "~@reuters-graphics/style-color/scss/base";

.component :global {
  .search-form {
    margin-top: 20px;
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid $gray-lighter;
    font-size: 24px;

    svg.fa-search {
      color: $gray-500;
      margin-right: 10px;
    }

    input {
      font-family: $font-family-sans-serif;
      outline: none;
      width: calc(100% - 50px);
      border: 0;
    }
  }

  .search-results {
    margin-top: 40px;
    font-family: $font-family-sans-serif;

    a {
      text-decoration: none !important;
    }

    .search-item {
      margin-bottom: 30px;
      overflow-x: hidden;
      color: $dark;

      &:hover {
        h4 {
          margin-left: 0;
        }
      }

      h4 {
        margin-bottom: 0;
        transition: margin-left 0.2s;
        margin-left: -25px;

        svg {
          color: $orange;
        }
      }

      p {
        margin: 5px 0 10px;
        text-decoration: none !important;
      }

      .tag {
        display: inline-block;
        background-color: $gray-600;
        padding: 2px 5px;
        font-family: $font-family-monospace;
        font-size: 12px;
        margin-right: 4px;
        color: $white;
        border-radius: 4px;
      }
    }
  }
}
