@import "~@reuters-graphics/style-color/scss/brand";
@import "~@reuters-graphics/style-main/scss/fonts/variables";
@import "~Theme/variables";

.component :global {
  nav {
    border-bottom: 1px solid #ddd;
    margin: 1em 0;

    h1 {
      font-size: 2.25em;
      text-transform: uppercase;
      font-weight: 200;
      letter-spacing: 2px;
      margin: 10px 0;
      padding-bottom: 0;
      transition: all 0.2s;

      a {
        color: inherit;
        text-decoration: none;
      }
    }

    &.home h1 {
      margin: 1em 0;
    }
  }

  .search-form {
    margin-top: 2.5rem;
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid $brand-inverted-nav;
    font-size: 24px;

    svg.fa-search {
      color: $brand-inverted-nav;
      margin-right: 10px;
    }

    input {
      font-family: $font-family-sans-serif;
      outline: none;
      width: calc(100% - 50px);
      border: 0;
    }
  }

  .search-results {
    margin-top: 2.5rem;
    font-family: $font-family-sans-serif;

    a {
      text-decoration: none !important;
    }

    .search-item {
      margin-bottom: 30px;
      overflow-x: hidden;
      color: $brand-text;


      h4 {
        margin-bottom: 0;
      }

      &:hover {
        h4 {
          text-decoration: underline;
        }
      }

      p {
        font-family: $font-family-sans-serif;
        font-size: 0.9rem;
        margin: 5px 0;
        text-decoration: none !important;
      }

      .tag {
        display: inline-block;
        background-color: $brand-inverted-nav;
        padding: 2px 5px;
        font-family: $font-family-monospace;
        font-size: 12px;
        margin-right: 4px;
        color: $brand-background;
        border-radius: 4px;
      }
    }
  }
}
