// thematic/brand.csv
$brand: #ff8000;
$brand-primary: #ff8000;
$brand-secondary: #666666;
$brand-background: #ffffff;
$brand-inverted-secondary: #ffffff;
$brand-nav: #86888b;
$brand-nav-active: #313132;
$brand-text: #313132;
$brand-text-primary: #313132;
$brand-inverted-background: #333333;
$brand-inverted-nav: #999999;
$brand-inverted-nav-active: #cccccc;
$brand-text-secondary: #717375;
