@import "~@reuters-graphics/style-main/scss/fonts/mixins";
@import "~@reuters-graphics/style-color/scss/categorical/base";
@import "~@reuters-graphics/style-color/scss/thematic/brand";

.article-metadata {
  padding: 40px 0;

  @include font-sans;

  text-align: center;

  .byline-container {
    margin-bottom: 12px;
  }

  .byline {
    a {
      color: $brand-text;
    }
  }

  .dateline-container {
    @extend .uppercase;

    color: $brand-text-secondary;
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
}
