@import "~@reuters-graphics/style-color/scss/sequential/sesame";

section.graphic {
  margin-top: 0;
  margin-bottom: 0;

  @extend .well;
  @extend .font-sans;

  &:not(.borderless) {
    @extend .separated;
  }

  h3 {
    margin-bottom: 0.5rem;
  }


  p {
    @extend .font-sans;
    @extend .paragraph-size;
  }

  // Use for footnotes and source lines
  aside {
    p {
      @extend .small-size;

      margin-bottom: 5px;
      color: $brand-text-secondary;
    }
  }
}
