@import "~@reuters-graphics/style-color/scss/brand";

figure.photo {
  @extend .well;

  margin: 40px auto;

  figcaption {
    @extend .font-sans;

    font-size: 0.8rem;
    color: $brand-secondary;
  }

  &.fluid {
    figcaption {
      padding-left: 10px;
    }
  }

  img {
    width: 100%;
  }
}
