@import "~@reuters-graphics/style-color/scss/brand";
@import "~@reuters-graphics/style-main/scss/fonts/variables";
@import "~Theme/variables";

.component :global {
  .nav-container {
    z-index: 999;
    height: 100vh;
    width: 225px;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    left: 0;
    background: $brand-inverted-background;
    color: $brand-inverted-secondary;
    transition: left 0.2s;
    font-family: $font-family-sans-serif;
    border-right: 1px solid $brand-background;

    @media screen and (max-width: $breakpoint) {
      left: -250px;
    }

    .github-bug {
      position: fixed;
      bottom: 5px;
      right: 5px;
      color: rgba(0, 0, 0, 0.1);
      font-size: 28px;

      @media screen and (max-width: $breakpoint) {
        display: none;
      }

      &:hover {
        color: $brand-nav-active;
      }
    }


    button.toggle {
      border: none;
      outline: none;
    }

    button.close-menu {
      background: none;
      display: none;
      position: absolute;
      top: 5px;
      right: 5px;
      font-size: 20px;
      color: $brand-inverted-nav;
      cursor: pointer;

      &:hover {
        color: $brand-inverted-secondary;
      }

      @media screen and (max-width: $breakpoint) {
        display: inline;
      }
    }

    button.open-menu {
      position: fixed;
      top: -50px;
      left: 5px;
      color: $brand-nav;
      font-size: 20px;
      background-color: rgba(255, 255, 255, 0.8);
      padding: 4px 10px;
      border-radius: 10px;
      transition: top 0.2s;
      transition-delay: 0.1s;

      @media screen and (max-width: $breakpoint) {
        top: 5px;
      }

      &:hover {
        color: $brand-nav-active;
      }
    }

    &.visible {
      left: 0;

      button.open-menu {
        top: -50px;
        opacity: 0;
      }
    }

    .home-link {
      .container {
        padding: 10px;
        max-width: calc(100% - 30px);
        margin: 0;
      }

      svg {
        fill: $brand-primary;
        margin-right: 7px;
      }

      .team-logo {
        svg {
          fill: $brand-inverted-secondary;
          margin-left: 1px;
          margin-top: 6px;
          margin-bottom: 2px;
          display: block;
        }

        font-family: $font-family-knowledge;
        font-weight: 300;
        color: $brand-inverted-nav;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
      }
    }

    nav {
      padding: 10px 15px;

      .nav-item {
        max-height: calc(100vh - 258px);
        overflow-y: scroll;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 200;
        color: $brand-inverted-nav;
        font-size: 18px;
        transition: padding-left 0.2s;

        &:hover,
        &.active {
          padding-left: 5px;
        }

        &.active {
          color: $brand-inverted-secondary;
          font-weight: 400;
        }
      }
    }

    a {
      color: $brand-inverted-secondary;

      &:hover {
        text-decoration: none !important;
      }
    }
  }
}
