@import "~@reuters-graphics/style-color/scss/categorical/base";
@import "~@reuters-graphics/style-color/scss/sequential/gray";
@import "~@reuters-graphics/style-color/scss/categorical/brand";
@import "~@reuters-graphics/style-main/scss/fonts/variables";

.markdown-default {
  @extend .font-sans;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font-family-knowledge;
  }

  h1,
  h2,
  h3 {
    margin-top: 1em;
  }

  h4,
  h5,
  h6 {
    margin-top: 0.8em;
  }

  h1 {
    font-size: 2.25em;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 2px;
    margin: 1em 0;
    padding-bottom: 1em;
    border-bottom: 1px solid #ddd;
  }


  h2 {
    font-size: 1.75em;
  }

  h3 {
    font-size: 1.5em;
  }

  h4 {
    font-size: 1.25em;
    color: $gray;
  }

  h5 {
    font-size: 1em;
    color: $gray;
    font-weight: 400;
    text-transform: uppercase;
  }

  p {
    font-family: inherit;
    font-size: 1.1em;
  }

  code {
    background-color: $gray-200;
    border-radius: 2px;
    padding: 0 4px;
    font-family: $font-family-monospace;
  }

  ul {
    margin-bottom: 2rem;
  }

  table {
    margin: 10px 10px 40px;
    font-family: $font-family-sans-serif;

    thead {
      font-family: $font-family-monospace;
      color: $gray;
      font-weight: 300;
      font-size: 0.8em;
      border-bottom: 2px solid $gray-600;

      th {
        font-weight: 500;
        padding: 2px 5px;
      }
    }

    tbody {
      font-family: $font-family-sans-serif;
      font-size: 1em;

      td {
        padding: 2px 5px;
        border-right: 1px solid $gray;

        &:last-child {
          border-right: 0;
        }
      }

      tr:nth-child(even) {
        background-color: $gray-200;
      }
    }
  }
}
