$breakpoint: 900px;

.component :global {
  .well {
    padding: 1em 1em 4em;
    margin-left: 225px;
    max-height: 100vh;
    overflow-y: scroll;

    @media screen and (max-width: $breakpoint) {
      margin-left: auto;
    }

    .container {
      max-width: 950px;
    }
  }
}
