$breakpoint: 900px;

.component :global {
  .well {
    padding: 2em 1em;
    margin-left: 225px;
    max-height: 100vh;
    overflow-y: scroll;

    @media screen and (max-width: $breakpoint) {
      margin-left: auto;
    }
  }
}
