@import "~@reuters-graphics/style-color/scss/thematic/brand";
@import "~@reuters-graphics/style-main/scss/fonts/mixins";

.component :global {
  a {
    text-decoration: none;
  }

  h1 {
    font-size: 2.25em;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 2px;
    margin: 1em 0;
    transition: margin 0.2s;

    &.small {
      margin: 10px 0;
    }

    svg {
      background-color: $brand;
      color: #fff;
      border-radius: 50%;
      font-size: 1.25em;
      padding: 8px;
      margin-bottom: -2px;
    }

    @media (max-width: 400px) {
      font-size: 1.5em;
    }
  }


  .markdown-default {
    max-width: 750px;

    @include font-sans;


    h2 {
      margin-top: 2.25em;
      border-bottom: 1px solid #ddd;
    }

    h3,
    h4,
    h5 {
      margin-top: 2em;
    }

    ul {
      font-size: 1em;
      line-height: 1.6em;
      list-style-type: square;

      ul {
        margin-bottom: 0;
      }
    }

    a {
      color: inherit;
      background-size: 1px 1px;
      background-image: url('data:image/svg+xml;utf8,<svg preserveAspectRatio="none" viewBox="0 0 1 1" xmlns="http://www.w3.org/2000/svg"><line x1="0" y1="0" x2="2" y2="2" stroke="rgba(0, 0, 0, 0.8)" /></svg>');
      background-position: 0 1.3rem;
      background-repeat: repeat-x;

      &:hover {
        text-decoration: none;
      }
    }

    blockquote {
      margin-bottom: 2em;

      ul {
        margin: 20px 0;
        padding: 10px 25px 10px 20px;
        display: inline-block;
        background-color: #ebebeb;
        list-style-type: none;
        border: 1px solid #ddd;

        @include font-monospace;

        ul {
          margin: 0;
          padding: 0 0 0 15px;
          display: block;
          border: none;
        }

        li {
          strong {
            color: $brand;
            font-weight: inherit;
          }
        }
      }
    }

    aside.tip {
      background-color: #ebebeb;
      border: 1px solid #ddd;
      padding: 10px 15px;
      border-radius: 10px;
      font-size: 0.8em;
      margin: 40px 0;
      color: #333;

      a {
        background-position: 0 1.2em;
      }

      p {
        margin-bottom: 0.8em;
      }

      h3 {
        border-bottom: 1px solid #333;
        margin: 0 0 15px;
        font-size: 1.25em;
        font-weight: 600;
      }

      pre {
        font-size: 0.9em;
        margin: 20px 0 25px;
      }

      ul {
        margin: 0.8em 0 0.9em;
      }
    }
  }
}
