// sequential/avocado.csv
$avocado-100: #c7e9c0;
$green-100: #c7e9c0;
$avocado-200: #a1d99b;
$green-200: #a1d99b;
$avocado-300: #74c476;
$green-300: #74c476;
$avocado-400: #31a354;
$green-400: #31a354;
$avocado-500: #006d2c;
$green-500: #006d2c;
