// sequential/blueberry.csv
$blueberry-100: #d2e6f3;
$blue-100: #d2e6f3;
$blueberry-200: #a4cbe7;
$blue-200: #a4cbe7;
$blueberry-300: #569ed3;
$blue-300: #569ed3;
$blueberry-400: #3182bd;
$blue-400: #3182bd;
$blueberry-500: #08519c;
$blue-500: #08519c;
