// sequential/brewer-blue.csv
$brewer-blue-100: #f7fbff;
$brewer-blue-200: #deebf7;
$brewer-blue-300: #c6dbef;
$brewer-blue-400: #9ecae1;
$brewer-blue-500: #6baed6;
$brewer-blue-600: #4292c6;
$brewer-blue-700: #2171b5;
$brewer-blue-800: #08519c;
$brewer-blue-900: #08306b;
