// sequential/cara-cara.csv
$cara-cara-100: #feedde;
$orange-100: #feedde;
$cara-cara-200: #fdbe85;
$orange-200: #fdbe85;
$cara-cara-300: #f68e26;
$orange-300: #f68e26;
$cara-cara-400: #e6550d;
$orange-400: #e6550d;
$cara-cara-500: #a63603;
$orange-500: #a63603;
