// sequential/fuji-apple.csv
$fuji-apple-100: #fee5d9;
$red-100: #fee5d9;
$fuji-apple-200: #f4a091;
$red-200: #f4a091;
$fuji-apple-300: #ee665b;
$red-300: #ee665b;
$fuji-apple-400: #de2d26;
$red-400: #de2d26;
$fuji-apple-500: #a50f15;
$red-500: #a50f15;
