// sequential/mango.csv
$mango-100: #fff4cd;
$yellow-100: #fff4cd;
$mango-200: #ffe47f;
$yellow-200: #ffe47f;
$mango-300: #ffd430;
$yellow-300: #ffd430;
$mango-400: #f4c100;
$yellow-400: #f4c100;
$mango-500: #cda200;
$yellow-500: #cda200;
