// sequential/mint-chocolate.csv
$mint-chocolate-100: #d1eeea;
$teal-100: #d1eeea;
$mint-chocolate-200: #a8dbd9;
$teal-200: #a8dbd9;
$mint-chocolate-300: #7ebfc1;
$teal-300: #7ebfc1;
$mint-chocolate-400: #4f90a6;
$teal-400: #4f90a6;
$mint-chocolate-500: #2c6075;
$teal-500: #2c6075;
