// sequential/mint-chocolate-sesame.csv
$mint-chocolate-sesame-100: #fff4cd;
$mint-chocolate-sesame-200: #a8dbd9;
$mint-chocolate-sesame-300: #7ebfc1;
$mint-chocolate-sesame-400: #4f90a6;
$mint-chocolate-sesame-500: #333333;
