// sequential/morning-glory-blueberry.csv
$morning-glory-blueberry-100: #c3ecff;
$morning-glory-blueberry-200: #89daff;
$morning-glory-blueberry-300: #4ec7ff;
$morning-glory-blueberry-400: #00a1eb;
$morning-glory-blueberry-500: #08519c;
