// sequential/morning-glory.csv
$morning-glory-100: #c3ecff;
$cyan-100: #c3ecff;
$morning-glory-200: #89daff;
$cyan-200: #89daff;
$morning-glory-300: #4ec7ff;
$cyan-300: #4ec7ff;
$morning-glory-400: #00a1eb;
$cyan-400: #00a1eb;
$morning-glory-500: #0079b0;
$cyan-500: #0079b0;
