// sequential/morel.csv
$morel-100: #d8d0cc;
$brown-100: #d8d0cc;
$morel-200: #b6a89f;
$brown-200: #b6a89f;
$morel-300: #948072;
$brown-300: #948072;
$morel-400: #7d604c;
$brown-400: #7d604c;
$morel-500: #49392e;
$brown-500: #49392e;
