// sequential/plum.csv
$plum-100: #dadaeb;
$purple-100: #dadaeb;
$plum-200: #c1b6db;
$purple-200: #c1b6db;
$plum-300: #9582c1;
$purple-300: #9582c1;
$plum-400: #6a51a3;
$purple-400: #6a51a3;
$plum-500: #54278f;
$purple-500: #54278f;
