// sequential/sesame.csv
$sesame-100: #efefef;
$gray-100: #efefef;
$sesame-200: #cccccc;
$gray-200: #cccccc;
$sesame-300: #999999;
$gray-300: #999999;
$sesame-400: #666666;
$gray-400: #666666;
$sesame-500: #333333;
$gray-500: #333333;
