@import "~@reuters-graphics/style-color/scss/thematic/brand";
@import "~@reuters-graphics/style-main/scss/fonts/variables";
@import "~Theme/variables";


.component :global {
  .jumbo {
    padding-top: 20vh;
  }

  h1 {
    font-weight: 200;
    margin: 0;
    border-bottom: 0;
    text-transform: uppercase;
    animation: explode 2s ease-out, reveal 4s;
    animation-fill-mode: forwards;
    animation-delay: 0;
    color: #666;
    opacity: 0;
    text-align: center;
    font-size: 5em;
    margin-top: 0;
  }

  .brand {
    text-align: center;
    animation: reveal 2s;
    animation-fill-mode: forwards;

    .team-logo {
      svg {
        display: inline-block;
        fill: $brand-text-secondary;
        margin-top: -6px;
        margin-right: 0;

        &:first-child {
          fill: $brand-primary;
          margin-right: 5px;
        }
      }

      font-family: $font-family-display;
      font-weight: 200;
      color: $brand-text-secondary;
      font-size: 29px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
    }
  }

  .desktop {
    @media screen and (max-width: $breakpoint) {
      display: none;
    }
  }

  .mobile {
    display: none;

    @media screen and (max-width: $breakpoint) {
      display: block;
    }

    .team-logo {
      font-size: 18px;

      svg {
        margin-top: -3px;
      }
    }

    h1 {
      font-size: 3em;
    }
  }
}
