.component :global {
  position: relative;

  pre {
    background-color: #333;
    border-radius: 10px;
    margin: 30px 5px 60px;
    padding-bottom: 1.5em;
    font-size: 14px;
  }

  button {
    border: 0;
    background-color: #333;
    color: white;
    position: absolute;
    right: 10px;
    bottom: 5px;
    outline: none !important;
    cursor: pointer;
    font-size: 14px;

    &:hover {
      color: hsl(75, 70%, 60%);
    }

    &:active {
      border: 1px solid hsl(75, 70%, 60%);
    }

    &.copy {
      right: 10px;
      bottom: 5px;

      &:active {
        right: 8px;
        bottom: 3px;
      }
    }
  }

  .token.number {
    color: hsl(350, 40%, 70%);
    background-color: inherit;
    padding: inherit;
    min-width: inherit;
    margin: inherit;
    font-size: inherit;
    height: inherit;
    justify-content: inherit;
    display: inherit;
    text-align: inherit;
    vertical-align: inherit;
    align-items: inherit;
    border-radius: inherit;
  }
}
