// diverging/blueberry-fuji-apple.csv
$blueberry-fuji-apple-blueberry-500: #08519c;
$blueberry-fuji-apple-blueberry-400: #3182bd;
$blueberry-fuji-apple-blueberry-300: #569ed3;
$blueberry-fuji-apple-blueberry-200: #a4cbe7;
$blueberry-fuji-apple-blueberry-100: #d2e6f3;
$blueberry-fuji-apple-fuji-apple-100: #fee5d9;
$blueberry-fuji-apple-fuji-apple-200: #f4a091;
$blueberry-fuji-apple-fuji-apple-300: #ee665b;
$blueberry-fuji-apple-fuji-apple-400: #de2d26;
$blueberry-fuji-apple-fuji-apple-500: #a50f15;
