// diverging/brewer-rdbu.csv
$brewer-rdbu-red-400: #b2182b;
$brewer-rdbu-red-300: #d6604d;
$brewer-rdbu-red-200: #f4a582;
$brewer-rdbu-red-100: #fddbc7;
$brewer-rdbu-blue-100: #d1e5f0;
$brewer-rdbu-blue-200: #92c5de;
$brewer-rdbu-blue-300: #4393c3;
$brewer-rdbu-blue-400: #2166ac;
