// diverging/brewer-prgn.csv
$brewer-prgn-purple-400: #762a83;
$brewer-prgn-purple-300: #9970ab;
$brewer-prgn-purple-200: #c2a5cf;
$brewer-prgn-purple-100: #e7d4e8;
$brewer-prgn-green-100: #d9f0d3;
$brewer-prgn-green-200: #a6dba0;
$brewer-prgn-green-300: #5aae61;
$brewer-prgn-green-400: #1b7837;
