// diverging/cara-cara-plum.csv
$cara-cara-plum-cara-cara-500: #a63603;
$cara-cara-plum-cara-cara-400: #e6550d;
$cara-cara-plum-cara-cara-300: #f68e26;
$cara-cara-plum-cara-cara-200: #fdbe85;
$cara-cara-plum-cara-cara-100: #feedde;
$cara-cara-plum-plum-100: #dadaeb;
$cara-cara-plum-plum-200: #c1b6db;
$cara-cara-plum-plum-300: #9582c1;
$cara-cara-plum-plum-400: #6a51a3;
$cara-cara-plum-plum-500: #54278f;
