// diverging/mint-chocolate-mango.csv
$mint-chocolate-mango-mint-chocolate-500: #2c6075;
$mint-chocolate-mango-mint-chocolate-400: #4f90a6;
$mint-chocolate-mango-mint-chocolate-300: #7ebfc1;
$mint-chocolate-mango-mint-chocolate-200: #a8dbd9;
$mint-chocolate-mango-mint-chocolate-100: #d1eeea;
$mint-chocolate-mango-mango-100: #fff4cd;
$mint-chocolate-mango-mango-200: #ffe47f;
$mint-chocolate-mango-mango-300: #ffd430;
$mint-chocolate-mango-mango-400: #f4c100;
$mint-chocolate-mango-mango-500: #cda200;
