// diverging/mint-chocolate-cara-cara.csv
$mint-chocolate-cara-cara-mint-chocolate-500: #2c6075;
$mint-chocolate-cara-cara-mint-chocolate-400: #4f90a6;
$mint-chocolate-cara-cara-mint-chocolate-300: #7ebfc1;
$mint-chocolate-cara-cara-mint-chocolate-200: #a8dbd9;
$mint-chocolate-cara-cara-mint-chocolate-100: #d1eeea;
$mint-chocolate-cara-cara-cara-cara-100: #feedde;
$mint-chocolate-cara-cara-cara-cara-200: #fdbe85;
$mint-chocolate-cara-cara-cara-cara-300: #f68e26;
$mint-chocolate-cara-cara-cara-cara-400: #e6550d;
$mint-chocolate-cara-cara-cara-cara-500: #a63603;
