// categorical/base.csv
$black: #000000;
$gray: #666666;
$white: #ffffff;
$brown: #7d604c;
$yellow: #f4c100;
$orange: #e6550d;
$red: #de2d26;
$green: #31a354;
$blue: #3182bd;
$cyan: #00a1eb;
$purple: #6a51a3;
