// categorical/base-lite.csv
$black-lite: #333333;
$gray-lite: #cccccc;
$white-lite: #f9f9f9;
$brown-lite: #948072;
$yellow-lite: #ffd430;
$orange-lite: #f68e26;
$red-lite: #ee665b;
$green-lite: #74c476;
$blue-lite: #569ed3;
$cyan-lite: #4ec7ff;
$purple-lite: #9582c1;
