// categorical/pols-es.csv
$pols-es-socialists: #ec2033;
$pols-es-peoples-party: #1f8fce;
$pols-es-vox: #cadb2e;
$pols-es-unidas-podemos: #952978;
$pols-es-ciudadanos: #f26725;
$pols-es-erc-catalan: #fdc218;
$pols-es-jxc-catalan: #d0a115;
$pols-es-eaj-pnv-basque: #008c3e;
$pols-es-ehb-basque: #005e25;
