// categorical/pols-us-primary.csv
$pols-us-purple: #7e61c9;
$pols-us-klobuchar: #7e61c9;
$pols-us-yellow: #ffd103;
$pols-us-sanders: #ffd103;
$pols-us-weld: #ffd103;
$pols-us-green: #72bf2e;
$pols-us-buttigieg: #72bf2e;
$pols-us-turqoise: #00b0bd;
$pols-us-orange: #f98900;
$pols-us-warren: #f98900;
$pols-us-trump: #f98900;
$pols-us-maroon: #b90000;
$pols-us-magenta: #c12b6f;
$pols-us-yang: #c12b6f;
$pols-us-teal: #00b294;
$pols-us-bloomberg: #00b294;
$pols-us-blue: #218ecd;
$pols-us-biden: #218ecd;
$pols-us-dem: #218ecd;
$pols-us-blue-light: #dbf1ff;
$pols-us-dem-other: #dbf1ff;
$pols-us-red: #ea2135;
$pols-us-walsh: #ea2135;
$pols-us-gop: #ea2135;
$pols-us-red-light: #fde1dc;
$pols-us-gop-other: #fde1dc;
$pols-us-gray: #939598;
$pols-us-gray-light: #c7c7c7;
$pols-us-no-polling-places: #c7c7c7;
$pols-us-gray-lightest: #efefef;
$pols-us-no-results: #efefef;
$pols-us-white: #ffffff;
